<p class="h3">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tempor sed nisl eu finibus. Duis aliquet risus efficitur, sagittis dui at, luctus turpis. Vestibulum varius ornare ante non luctus. Suspendisse eget risus neque. Nam malesuada enim eu lectus maximus, venenatis aliquam diam eleifend. Fusce porta nisi et luctus tempor. Etiam non consequat nisi. Integer ultricies velit nec commodo mollis. Sed bibendum leo at elit ullamcorper accumsan. Pellentesque at turpis est.
</p>
<hr>
<button class="jumbotron w-100 h1">
    Apply for Trainer
</button>